/*
 * CSS Reset
 */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  /* Set the overflow-x: to hidden so that mobile devices don't have extra white space to the right */
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
/*
  * End CSS Reset
  */
